@import 'config.scss';
//mixins
@mixin white{
    color:#fff;
}

// Buttons
.btn-main{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    @include white;
    cursor: pointer;
    margin: 15px; 
}
.btn-blue {
    @extend .btn-main;
    background:$color-blue;
}
.btn-red{
    @extend .btn-main;
    background: $color-red;
}
.btn-yellow {
    @extend .btn-main;
    background: $color-yellow;
}
.btn-green { 
    @extend .btn-main;
    background : $color-green;
}



//DropDown

.dropdown{
    width: 200px;
    button{
        width: 100%;
    }
    ul{
        background: $color-white;
        width: 100%;
        display: none;
        list-style: none;
        border: 1px solid #999;
        border-radius: 10px;
        text-align: center;
        li{
            line-height: 2;
            color: #999;
            border-bottom: 1px solid #999;
        }
        li:last-child{
            border-bottom: none;
        }
    }
}

//Collapse

.collapse{
    margin: 20px;
    .collapse-body{
        border:1px solid #999;
        padding: 15px;
        box-sizing: border-box;
    }
}


//alerts

.alert{
    padding: 20px;
    text-align: center;
    position: relative;

    border:1px solid #999;
    button{
        position: absolute;
    }
}